html, body {
    height:100%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ava-logo{
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ava-container-nav{
  background-color: #f8f9fa;
  height:15%;
  position:fixed;
  width:100%;
}

.ava-left-container{
  width:50%;
  height:88%;
  top:15%;
  padding:2%;
  position:fixed;
}

.ava-download-button{
  float:right;
  margin-top:20px;
    margin-right: 0px;
}

.ava-right-container{
  width:50%;
  height:88%;
  top:15%;
  padding:2%;
  position:fixed;
  left:50%;
}

.ava-text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.ava-card-container{
  height:100%;
}

.ava-block{
  display: block;
}

.ava-bold{
  margin-top: 3%;
  margin-bottom: 0;
  font-weight: bold;
  display:inline;
}

.ava-label-in{
  margin-top: 3%;
  margin-bottom: 0;
  display:inline;
}


.ava-header{
  display:inline!important;
  width:20%!important;
}

.ava-select{
  display:inline!important;
  width:80%!important;
  margin-right:0;
}

.ava-select-cont{
  display:inline-block;
  width:80%;
}

.ava-descript-header{
  display:inline-block;
  font-weight:bold;
  margin-bottom:0;
  margin-top:10px;
}

.ava-download{
  margin-right:5px;
  display:inline-block;
}

.ava-info{
  margin-top:10px;
}
label{
  width:15%;
}

form{
  margin-top:10px;
}

.ava-buttons{
  float:right;
}

.form-check label{
  width:100%;
}
.ava-description{
  margin-top: 3%;
}

#root{
  height:100%;
}

.col-sm-10{
  flex: 0 0 0;
}

.ava-in{
  display:inline-block;
}

.ava-center{
  margin-left:auto;
  margin-right:auto;
  margin: auto;
}

img{
  max-height:600px;
}

.form-group.row{
  margin-left: auto;
}

.app{
  min-height:100%;
}
